body {
  background-color: #ebecf3;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

p {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 26px;
}

.main {
  min-height: 100vh;
  padding: 40px;
}

.grid {
	display: grid;
	grid-template-rows: repeat(8, 1fr);
	grid-template-columns: auto 1fr 1fr 1fr;
	grid-template-areas: ". big-block-1 big-block-2 big-block-3"
		"grid-label-1 grid-block-1 grid-block-8 grid-block-15"
		"grid-label-2 grid-block-2 grid-block-9 grid-block-16"
		"grid-label-3 grid-block-3 grid-block-10 grid-block-17"
		"grid-label-4 grid-block-4 grid-block-11 grid-block-18"
		"grid-label-5 grid-block-5 grid-block-12 grid-block-19"
		"grid-label-6 grid-block-6 grid-block-13 grid-block-20"
		"grid-label-7 grid-block-7 grid-block-14 grid-block-21";
	width: 70%;
	margin: auto;
	border-top: rgba(0, 0, 0, 0.2) #000 solid;
}
.grid-label {
	border-top: rgba(0, 0, 0, 0.2) 1px solid;
	padding-top: 20px;
}
.grid-block {
	border-top: rgba(0, 0, 0, 0.2) 1px solid;
}
.big-block {
	text-align: center;
	background-color: #fff;
}
.big-block.highlight {
	background-color: #6165ff;
	color: #fff;
	margin-top: -10px;
}
.grid-block.rating.highlight{
	background-color: #6165ff;
}
.grid-block.price.highlight{
	background-color: #6165ff;
	color: #fff;
	margin-bottom: -10px;
}
.grid-block.blue {
	background-color: #6165ff;
	color: #fff;
}
.grid-block {
	text-align: center;
	background-color: #fff;
	padding-top: 20px;
}
.product-image {
	max-width: 100px;
}
.stars {
	max-height: 28px;
}
.grid-label-1 {
  grid-area: grid-label-1;
}

.grid-label-2 {
  grid-area: grid-label-2;
}

.grid-label-3 {
  grid-area: grid-label-3;
}

.grid-label-4 {
  grid-area: grid-label-4;
}

.grid-label-5 {
  grid-area: grid-label-5;
}

.grid-label-6 {
  grid-area: grid-label-6;
}

.grid-label-7 {
  grid-area: grid-label-7;
}

.big-block-1 {
  grid-area: big-block-1;
}

.big-block-2 {
  grid-area: big-block-2;
}

.big-block-3 {
  grid-area: big-block-3;
}

.grid-block-1 {
  grid-area: grid-block-1;
}

.grid-block-2 {
  grid-area: grid-block-2;
}

.grid-block-3 {
  grid-area: grid-block-3;
}

.grid-block-4 {
  grid-area: grid-block-4;
}

.grid-block-5 {
  grid-area: grid-block-5;
}

.grid-block-6 {
  grid-area: grid-block-6;
}

.grid-block-7 {
  grid-area: grid-block-7;
}

.grid-block-8 {
  grid-area: grid-block-8;
}

.grid-block-9 {
  grid-area: grid-block-9;
}

.grid-block-10 {
  grid-area: grid-block-10;
}

.grid-block-11 {
  grid-area: grid-block-11;
}

.grid-block-12 {
  grid-area: grid-block-12;
}

.grid-block-13 {
  grid-area: grid-block-13;
}

.grid-block-14 {
  grid-area: grid-block-14;
}

.grid-block-15 {
  grid-area: grid-block-15;
}

.grid-block-16 {
  grid-area: grid-block-16;
}

.grid-block-17 {
  grid-area: grid-block-17;
}

.grid-block-18 {
  grid-area: grid-block-18;
}

.grid-block-19 {
  grid-area: grid-block-19;
}

.grid-block-20 {
  grid-area: grid-block-20;
}

.grid-block-21 {
  grid-area: grid-block-21;
}

@media (max-width: 991px) {
	.grid {
		grid-template-rows: repeat(15, auto);
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas: "big-block-1 big-block-2 big-block-3"
		"grid-label-1 grid-label-1 grid-label-1"
		"grid-block-1 grid-block-8 grid-block-15"
		"grid-label-2 grid-label-2 grid-label-2"
		"grid-block-2 grid-block-9 grid-block-16"
		"grid-label-3 grid-label-3 grid-label-3"
		"grid-block-3 grid-block-10 grid-block-17"
		"grid-label-4 grid-label-4 grid-label-4"
		"grid-block-4 grid-block-11 grid-block-18"
		"grid-label-5 grid-label-5 grid-label-5"
		"grid-block-5 grid-block-12 grid-block-19"
		"grid-label-6 grid-label-6 grid-label-6"
		"grid-block-6 grid-block-13 grid-block-20"
		"grid-label-7 grid-label-7 grid-label-7"
		"grid-block-7 grid-block-14 grid-block-21";
	}
	.grid-block {
		background-color: transparent;
		text-align: left;
	}
	.big-block {
		text-align: left;
		background-color: transparent;
	}
	.grid-block.price.highlight{
		background-color: transparent;
		color: #000;
		margin-bottom: 0px;
	}
	.big-block.highlight {
	    background-color: transparent;
	    color: #000;
	    margin-top: 0px; 
	}
	.white-background {
		grid-column: 2 / 3;
		grid-row: 1 / 16; 
		background-color: #fff;
	}
	.grid-block.blue {
	    background-color: transparent;
	    color: #000;
	}
	.grid-block.rating.highlight {
		background-color: transparent;
	}
	.grid-label {
		border: none;
	}
}
@media (max-width: 468px) {
	.grid {
		width: 100%;
	}
	.big-block.highlight {
		background-color: #ebecf3;
	}
	.grid-block.blue {
		background-color: #ebecf3;
	}
	.grid-label {
		background-color: #ebecf3;
		text-align: center;
	}
	.grid-block.rating.highlight {
		background-color: #ebecf3;
	}
	.grid-block.price.highlight {
		background-color: #ebecf3;
	}
	.grid-block {
		padding: 20px;
	}
}